@*@using WebAppMM.Models*@
@model IEnumerable<WebAppMM.Models.ViewModel>


@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Places)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Places)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.LanguagePreferred)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Currency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.AboutMe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.DateOfRegistration)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.LastName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Place.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Place.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.LanguagePreferred)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Currency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.AboutMe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.DateOfRegistration)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.User.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.User.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.User.ID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
